.card img{
    height: 400px;
    background-size: cover;
}
.texbar h2{
    margin-bottom: 100px;
}
p{
    font-weight: 300;
    line-height: 22px;
    font-size: 14px;
    text-align: justify;
    
}
